// Breakpoints

$breakpoint-xs = 0
$breakpoint-sm = 400px
$breakpoint-md = 600px
$breakpoint-lg = 961px
$breakpoint-xl = 1050px

rupture.scale = $breakpoint-xs $breakpoint-sm $breakpoint-md $breakpoint-lg $breakpoint-xl


$brand-primary = #4d739f

// Reboot

$body-bg = #fff
$body-color = #414142
$link-color = #2766a0
$link-hover-color = #4d739f


// Typography

$font-size-root = 16px

$font-family-sans-serif = 'SFUIText', Arial, sans-serif
$font-family-base = $font-family-sans-serif

$font-size-base = 14px
$line-height-base = 1.21
$line-height = 1.21

$base-font-family = 'SFUIDisplay', arial, sans-serif
$base-font-family-light = 'SFUIDisplay Light', arial, sans-serif
$base-font-family-bold =  'SFUIDisplay Bold', arial, sans-serif
$base-font-family-medium =  'SFUIDisplay Medium', arial, sans-serif
$base-font-family-heavy = 'SFUIDisplay Heavy', arial, sans-serif

$base-font-family-alt = 'SFUIText', arial, sans-serif

$small-font-size = 80%

$background-color-inverse = #3b4555
$background-color-base-hover = #5c7fa7


// Buttons

$btn-padding-x = 20px
$btn-padding-y = 10px
$btn-box-shadow = none
$btn-active-box-shadow = none//inset 0 3px 5px alpha(#000, .125)

$btn-link-color = #2766a0
$btn-link-disabled-color = #999

$btn-padding-x-sm = .75rem
$btn-padding-y-sm = .25rem

$btn-padding-x-lg = 1.25rem
$btn-padding-y-lg = .75rem

$btn-border-radius = 0
$btn-border-radius-lg = 0
$btn-border-radius-sm = 0

$font-size-md = 13px
$line-height-md = 1.2

$font-size-sm = 12px
$line-height-sm = 1.2

$font-size-lg = 24px
$line-height-lg = 1.2


// Forms

$input-padding-x = 10px
$input-padding-y = 10px

$input-bg = #fff
$input-bg-disabled = #f9fafb

$input-color = #404041
$input-border-color = #58595b
$input-btn-border-width = 1px
$input-box-shadow = none

$input-border-radius = 0
$input-border-radius-md = 0
$input-border-radius-lg = 0
$input-border-radius-sm = 0

$input-border-focus = #ffd74c
$input-box-shadow-focus = inset 0 1px 1px alpha($input-border-focus, 0.75), 0 0 8px alpha($input-border-focus, 0.6)

$input-color-placeholder = #666

$input-padding-x-md = 10px
$input-padding-y-md = 10px

$input-padding-x-sm = 10px
$input-padding-y-sm = 3px

$input-padding-x-lg = 20px
$input-padding-y-lg = 13px

$input-height = $font-size-md * $line-height-md + $input-padding-y * 2
$input-height-sm = $font-size-sm * $line-height-sm + $input-padding-y-sm * 2
$input-height-md = $font-size-md * $line-height-md + $input-padding-y * 2
$input-height-lg = $font-size-lg * $line-height-lg + $input-padding-y-lg * 2

$form-group-margin-bottom = 20px

$input-group-addon-bg = #fff
$input-group-addon-border-color = $input-border-color

$cursor-disabled = not-allowed

$transition-default = all 0.2s ease-in-out 0s
