.navbar.navbar--footer
	.container-fluid.navbar__container
		.navbar__primary-content
			.navbar__copyright ©  2016 SAT
			ul.navbar__nav
				li
					a(href='') Замовити
				li
					a(href='') Трекінг
				li
					a(href='') Компанія&nbsp;SAT
				li
					a(href='') Контакти
		.navbar__secondary-content
			a.navbar__button-icon.navbar__button-icon--entry(href='')
				| <i class="icon"></i>
			a.navbar__button-icon.navbar__button-icon--lang(href='')
				| <span>ua</span>
			a.navbar__button-icon.navbar__button-icon--search(href='')
				| <i class="icon"></i>
