.navbar.navbar--header.page__navbar-header.page__navbar-header--search
	form.navbar__primary-content
		| <i class="icon icon--search-accent navbar__icon"></i>
		.navbar__search.uk-width-1-1
			input#search.form-control.uk-width-1-1.navbar__search-form-control(type="text", placeholder="Пошук надпоштових можливостей")
		span.navbar__button-icon.navbar__button-icon--close.js-close
			| <i class="icon"></i>
