#modal_alert.uk-modal.uk-modal--alert
  .uk-modal-dialog.uk-modal-dialog-large
    .uk-modal-content.text-xs-center
      p.typography--alert
        | Дякуємо, що скористались надпоштовими можливостями SAT. Протягом дня з вами зв’яжеться оператор для підтверження замовлення
    .uk-modal-footer.text-xs-center
      button.btn.btn-lg.btn--alt.btn--accent.btn--raised.uk-width-1-3.uk-modal-close(type='button') Супер!
