#modal_phone.uk-modal.uk-modal--phone
	.uk-modal-dialog
		.uk-modal-content
			input#phone.form-control.uk-width-1-1.input-lg.text-xs-center(type='text', value='', placeholder="Номер телефона")
		.uk-modal-footer.text-xs-right
			button.btn.btn-lg.uk-modal-close(type='button') Отмена
			button.btn.btn-lg.btn--accent.btn--raised.js-modal-ok(type='button') Отправить
