#modal_tracking.uk-modal-trancing
  .uk-modal-dialog.uk-modal-dialog-large
    .uk-modal-header
      h3.typography--headline
        | Введіть номер вашого відправлення
    p.typography--body
      | Для отправки сообщений необходимо авторизоваться.
      br
      | Eсли нет учётной записи - пройдите простую регистрацию.
    .uk-modal-footer
      .row
        .col-xs-6
          a.btn.btn-secondary.btn-block(href='') Авторизация
        .col-xs-6
          a.btn.btn-primary.btn-block(href='') Регистрация
