@import 'sprites/*'

// Variables
@import '../blocks/variables'

// Mixins
@import '../blocks/_mixins/svg-size'
@import '../blocks/_mixins/hover'
@import '../blocks/_mixins/tab-focus'
@import '../blocks/_mixins/typography'
@import '../blocks/_mixins/text-truncate'
@import '../blocks/_mixins/misc'
@import '../blocks/_mixins/btn'
@import '../blocks/_mixins/btn-group'
@import '../blocks/_mixins/input'
@import '../blocks/_mixins/input-group'
@import '../blocks/_mixins/form-control'

@import '../blocks/fonts'
@import '../blocks/normalize'
@import '../blocks/reboot'
@import '../blocks/typography'

// Layouts
@import '../blocks/grid/grid'
@import '../blocks/uk-grid/uk-grid'
//@import '../blocks/layout/layout'

// Other blocks
//@import '../blocks/mdi/mdi'
@import '../blocks/font-awesome/font-awesome'
@import '../blocks/navbar/navbar'
@import '../blocks/icon/icon'
@import '../blocks/btn/btn'
@import '../blocks/cube/cube'
@import '../blocks/panel/panel'
@import '../blocks/swiper/swiper'
@import '../blocks/main-slide/main-slide'
@import '../blocks/banner/banner'
@import '../blocks/form/form'
@import '../blocks/form-control/form-control'
@import '../blocks/input/input'
@import '../blocks/sidenav/sidenav'
@import '../blocks/article/article'
@import '../blocks/collapse/collapse'
@import '../blocks/declaration/declaration'
@import '../blocks/table/table'
@import '../blocks/responsiveTable/responsiveTable'
@import '../blocks/card/card'
@import '../blocks/navigation/navigation'
@import '../blocks/mega-footer/mega-footer'
@import '../blocks/uk-cover/uk-cover'
@import '../blocks/uk-overlay/uk-overlay'
@import '../blocks/uk-flex/uk-flex'
@import '../blocks/uk-offcanvas/uk-offcanvas'
@import '../blocks/uk-nav/uk-nav'
@import '../blocks/uk-panel/uk-panel'
@import '../blocks/uk-close/uk-close'
@import '../blocks/uk-modal/uk-modal'
@import '../blocks/uk-switcher/uk-switcher'
@import '../blocks/uk-sticky/uk-sticky'
@import '../blocks/uk-accordion/uk-accordion'
@import '../blocks/uk-form/uk-form'
@import '../blocks/uk-form/uk-form-advanced'
@import '../blocks/uk-form-select/uk-form-select'
@import '../blocks/uk-button/uk-button'
@import '../blocks/calc/calc'
@import '../blocks/bootstrap-slider/bootstrap-slider'
@import '../blocks/easy-autocomplete/easy-autocomplete'
@import '../blocks/easy-autocomplete/easy-autocomplete.sat'
@import '../blocks/comment/comment'
@import '../blocks/nanoscroller/nanoscroller'
@import '../blocks/common/common'
@import '../blocks/page/page'

// Need to be loaded last
@import '../blocks/uk-utility/uk-utility'
@import '../blocks/utilities/utilities'
@import '../blocks/utilities/utilities-responsive'
@import '../blocks/utilities/utilities-spacing'
