/local/
# Содержит данные к БД
/bitrix/templates/sat_main/api.php
# Содержит данные к БД
/bitrix/templates/sat_main/header.php
.htaccess
.htpasswd
/upload/
web.config
/bitrix/*
!/bitrix/templates/sat_main/