header.page__header(data-uk-sticky="{top:-40}")
	.container-fluid.page__header-container
		.page__header-container-inner
			include ../navbar/navbar-header-alt
			include ../navbar/navbar-header-search
	include ../uk-offcanvas/uk-offcanvas-menu
