.page__block.page__block--tracking
	.container-fluid
		.page__block-group
			input.form-control.form-control--accent.page__block-input(type='text', value='', placeholder='Введіть номер вашого відправлення')
			include ../common/cabinet-link-alt_02.jade
		include ../form/form_recall.jade
