.lds-ellipsis {display: inline-block;position: relative;width: 60px;height: 40px; margin:auto; display:none}
.lds-ellipsis div {position: absolute;top: 27px;width: 11px;height: 11px;border-radius: 50%;background: #2766a0;animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis div:nth-child(1) {left: 6px;animation: lds-ellipsis1 0.6s infinite;}
.lds-ellipsis div:nth-child(2) {left: 6px;animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(3) {left: 26px;animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(4) {left: 45px;animation: lds-ellipsis3 0.6s infinite;}
@keyframes lds-ellipsis1 {0% {transform: scale(0);}100% {transform: scale(1);}}
@keyframes lds-ellipsis3 {0% {transform: scale(1);}100% {transform: scale(0);}}
@keyframes lds-ellipsis2 {0% {transform: translate(0, 0);}100% {transform: translate(19px, 0);}}
footer{display:none2;}
footer .bottom-footer>div{display:none2;}
.ui-autocomplete-loading{background:#ffffff url(../img/35.gif) 95% 50% no-repeat !important;}
.loader{width:24px;height:24px;background:url(../img/35.gif) 0 0 no-repeat;display:none;}
.simple_calc_row{position:relative;}
.simple_calc_row .loader{position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px;z-index:10;}
.simple_track_row{position:relative;}
.simple_track_row .loader{position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px;z-index:10;}
#simple_track_result{float:left;}
.calculate-wrapper .delivery-row .delivery-tabs li a.delivery-tab-deny{background:#d5d5d5;opacity:0.7;cursor:default;}

.td-location .title{cursor:pointer;}
header .header-inputs-form .inputs-row .input-wrap input{background:#fff3c8;}
header .header-inputs-form .inputs-row .input-wrap input:focus{background:#ffffff;}

.form_info .form_error{color:#dd0000;}
font.tablebodytext font{display:none;}
.search-input-wrap input[type="submit"]{
    width: 0;
    height: 0;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: -10000px;
}

.page__error-container {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/error-bg.jpg");
  text-align: center;
  padding-top: 130px;
  padding-bottom: 60px;
  line-height:1.3em;
}
.page__error-container,
.page__error-container > .container-fluid {
  min-height: 360px;
  /*height: 60vh;*/
}
.page__error-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.page__error-img--404 {
  /*left: 40px;*/
}
.page__error-img--400 {
  /*left: 75px;*/
}
.page__error-text {
  text-align: center;
  font-family: 'SFUIDisplay Bold', arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: #1d3b67;
  dispay: block;
  margin: -50px auto;
  max-width: 600px;
  transform: scale(0.8);
  line-height:1.3em;
}
.page__error-hint {
  text-align: center;
  font-family: $base-font-family-regulat;
  font-weight: normal;
  font-size: 20px;
  color: #1d3b67;
  dispay: block;
  margin: 100px auto 0px;
  line-height:1.3em;
}
.post-content .blockquote {padding-left:20px;background: url(/bitrix/templates/sat_main/img/icons/arrow-v-yellow.png) repeat-y;}
.post-content .blockquote-ul{padding-left:40px;background: url(/bitrix/templates/sat_main/img/icons/arrow-v-blue.png) repeat-y;}

.international-page table.international-t{}
.international-page table.international-t td, .international-page table.international-t th{min-width:50px;text-align: center;border:1px solid #acacac;padding:5px 10px;}
.international-page table.international-t th{background-color:#2766a0; color:#fff;font-weight:bold}
.text-description-page {font-family:"SFUIDisplay", sans-serif;color:#999;}
.text-description-page h2,.text-description-page h3{line-height:1.15em;margin-bottom:.5em;color:#404041;padding:0;text-transform:uppercase;}
.text-description-page h2{font-size:1.75em;}
.text-description-page h3{font-size:1.5em;}
.text-description-page p, .text-description-page ul{font-size:13px;margin-bottom:1em;line-height:1.25em;}
.text-description-page ul{list-style: disc;padding-left: 2em;}
.text-description-page ol{list-style:decimal;padding-left:2em;}
.text-description-page li{padding-bottom: .5em;}
.text-description-page .text-description-content{padding-top:2em;}
.text-description-page .text-description-content.box-hide{overflow:hidden;max-height:12em;position:relative;}
.text-description-page .text-description-content.box-hide::before{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:4em;background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);background:-o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);background:-ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);background:linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);}
.text-description-page .text-description-more{text-align:right;padding-bottom:2em;}
.text-description-page .text-description-more-link{font-size: 1.375em;}
.dotted{text-decoration:none;border-bottom:1px dotted;}



.choice-payment-method{display: flex;flex-direction: column;align-items: center;}
.choice-payment-method .payment-list{display:flex;justify-content:center;}
.choice-payment-method .payment-list .payment-method{display:flex;flex-direction: column;align-items: center;padding:0 .5rem 1rem .5rem;}
.choice-payment-method .payment-list .payment-method .img-wrap{position:relative;display: flex;justify-content: center;align-items: center;border-radius: 50%;overflow: hidden;width: 4rem;height: 4rem;}
.choice-payment-method .payment-list .payment-method .img-wrap img{width: inherit;}
.choice-payment-method .payment-list .payment-method .img-wrap .current-payment-method{position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;color: #fff;transition:all .3s;font: normal normal normal 14px/1 FontAwesome;font-size:2.5rem;cursor:pointer;opacity:0;}
.choice-payment-method .payment-list .payment-method .img-wrap:hover .current-payment-method{background: rgba(30, 62, 108, 0.3);opacity:.8;}
.choice-payment-method .payment-list .payment-method .img-wrap .current-payment-method::before{content: "\f00c"}
.choice-payment-method .payment-list .payment-method input[type=radio]:checked .img-wrap{display:none;}
.choice-payment-method .payment-list .payment-method input[type=radio]{display:none;}
.choice-payment-method .payment-list .payment-method input[type=radio]:checked ~ label .img-wrap .current-payment-method {background: rgba(30, 62, 108, 0.4);color:#32CD32;opacity:1;}
.tracking-table .pay-wrap{display:none;}
.tracking-table .pay-btn-zone .pay-button {display:flex;margin:auto;justify-content:center;align-items:center;}
.tracking-table .pay-btn-zone .pay-button .commission-block{display: flex;flex-direction: column;line-height: normal;padding-left: .5rem;margin-left:.5rem;align-items: center;border-left: 2px solid;}

.tracking-table .pay-btn-zone .pay-button .commission-block .commission-sum{font-size: .85rem;}
.tracking-table .pay-btn-zone .pay-button .commission-block .commission-text{font-size: .55rem;}


@media (max-width: 480px) {
	.mobile-nav .mobile-nav-inner {padding:20px 10px;}
}
@media (max-width: 370px) {
	.mobile-nav .nav-title {padding-left:5px;padding-right:5px;}
}
@media (max-width: 320px) {
	.mobile-nav .mobile-nav-inner {padding:20px 2px;}
}
