.uk-offcanvas#mobile_menu
  .uk-offcanvas-bar.uk-offcanvas-bar--menu
    ul.uk-nav.uk-nav-offcanvas.uk-nav-offcanvas--menu
      li
        a(href='#') Компания SAT
      li.uk-active
        a(href='#') Трекинг
      li
        a(href='#') Замовити
      li
        a(href='#') Контакти
      li.uk-nav-header Помощь онлайн

      li.phone
        a(href='#')
          i.icon

      li.email
        a(href='#')
          i.icon

      li.chat
        a(href='#')
          i.icon
