nav#sidenav.sidenav.hidden-md-down
	a.sidenav__link.sidenav__link--calc.is-fade(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--truck.is-fade(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--cargo.is-fade(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--map.is-fade(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--phone(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--mail(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--chat(href="")
		span.sidenav__pointer Помощь онлайн
		i.icon.sidenav__icon
	a.sidenav__link.sidenav__link--entry.active(href="")
		span.sidenav__pointer Текст
		i.icon.sidenav__icon
