extends /blocks/layout-default/layout-default

block head
	- var pageTitle = '';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClasses = 'page--layout-main'

block content
	.page__error-container
		.container-fluid.uk-vertical-align
			.uk-vertical-align-middle
				img.page__error-img.page__error-img--400(src="assets/images/error_400.png", alt="", width="677", height="440")
				div.page__error-text Упс! Невірний запит