extends /blocks/layout-default/layout-default-alt

block head
	- var pageTitle = '';
	- var pageDescription = '';
	- var pageKeywords = '';

block page
	- var pageClasses = 'page--layout-main page--layout-main--map'

block content
	.page__map-container
		.page__map-overlay(style="background-color:#91ff91;")
	include ../blocks/sidenav/sidenav
	include ../blocks/page/page__block-tracking-error
	include ../blocks/panel/panel-container-subscribe
