.nopadding{padding-left:0 !important;padding-right:0 !important;padding-top:0 !important;padding-bottom:0 !important}
.departments-list-page{padding-top:130px !important;}
.departments-map-page{padding-top:0px !important;}
.department-map-wrapper .department-panel-wrap{top:155px !important;}
.departments-table{margin-right:-5px;}
.region-table{margin-left:-5px;}
.departments-table .departments-table-body, .region-table .region-table-body{min-height:300px;overflow:auto;}
.departments-table .departments-table-header,.region-table .region-table-header{display:flex;align-items: center;background:#d0d2d3;font-family: "SFUIDisplay", sans-serif;font-size: 16px;color:#404041;}
.departments-table .departments-table-header .department-search,.region-table .region-table-header .town-search,.departments-table .departments-table-header .department,.departments-table .departments-table-header .address,.departments-table .departments-table-header .contacts{flex:1;padding-left: 15px;padding-right: 15px;}
.departments-table .departments-table-header .department, .departments-table .departments-table-header .address,.departments-table .departments-table-header .contacts{padding-top:1.425rem;padding-bottom:0.925rem;}
.departments-table .departments-table-header{border-left:1px solid #acacac;border-right:none;border-top:1px solid #acacac;border-bottom:1px solid #acacac;min-height: 65px;}
.region-table .region-table-header{border-left:none;border-right:1px solid #acacac;border-top:1px solid #acacac;border-bottom:1px solid #acacac;min-height: 65px;}
.search-input{position: relative;padding: 1rem 0 0.5rem 0;}
.search-input input {border: none;border-bottom: 1px solid #404041;display: block;margin: 0;padding: 0.425rem 1.5rem;width: 100%;text-align: left; background-color: transparent;}
.search-input input::-ms-clear{display:none;}
.search-input input:focus{outline: none;}
.search-input label {font-family: "SFUIDisplay", sans-serif;position: absolute;left: 0;top: 24px;width: 100%;font-weight: normal;pointer-events: none;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.search-input input:focus ~ label {top: 0.125rem;font-size: 0.75rem;color: #404041;}
.search-input label.not-empty {top: 0.125rem;font-size: 0.75rem; color:#58595b;}
.search-input i:nth-of-type(1) {position: absolute;color: #404041;left:calc(100% - 1rem);top: 1.625rem;font-size: 1rem;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.search-input input:focus ~ i:nth-of-type(1) {left: 0rem;top: 1.625rem;color: #404041;}
.search-input i:nth-of-type(1).not-empty {left: 0 !important;top: 1.625rem !important;}
.search-input i:nth-of-type(2) {position: absolute;color: #404041;right: 0;top: 1.625rem;font-size: 1rem;opacity: 0;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.search-input input:focus ~ i:nth-of-type(2) {color: #404041;opacity: 1;cursor: pointer;}
.search-input i:nth-of-type(2).not-empty {opacity: 1 !important;}
.search-input .bar {display: block;width: 0;margin-left: 50%;height: 1px;background: #404041;opacity: 0;transition: 0.2s ease all;-moz-transition: 0.2s ease all;-webkit-transition: 0.2s ease all;}
.search-input input:focus ~ .bar{opacity: 1;width: 100%;margin-left: 0;}
/*Departments-table zone*/
.departments-table .panel-heading, .departments-table .panel-body{padding:0;}
.departments-table .panel-body{border-top:none !important}
.departments-table .item-head,.departments-table .item-body{display:flex;font-family: "SFUIDisplay", sans-serif;font-size:12px;transition:all 0.4s;color:#757575;}
.departments-table .item-head .department{font-size:14px;color:#58595b;}
.departments-table .panel{border-left:1px solid #acacac;border-right:1px solid #acacac;border-top: none;border-bottom:1px solid #acacac;border-radius: 0 !important;margin: 0 !important;}
.departments-table .item-head.collapsed{background:#fff;}
.departments-table .item-head, .departments-table .item-body{background:#f3f3f6;min-height:49px;}
.departments-table .item-head{align-items: center;}
.departments-table .item-head:hover{background:#f3f3f6;cursor:pointer;}
.departments-table .item-head .align-ie{display:table-row;width:0;max-width:0;height:49px;vertical-align:middle;margin:0;padding:0;}
.departments-table .item-head div,.departments-table .item-body .department,.departments-table .item-body .address,.departments-table .item-body .contcts{flex:1;padding-left: 15px;padding-right: 15px;}
.departments-table .item-head div, .departments-table .item-head p{line-height:16px;}
.departments-table .item-body div, .departments-table .item-body p{line-height:16px;}
.departments-table .item-body .mobile-address{display:none;}
.departments-table .item-head div{margin:.5em 0;}
.departments-table .item-body .address{margin-bottom:.5em}
/*Region-table zone*/
.region-table .region-show-btn{display:none}
.region-table .region-table-body .panel-group .panel{border-radius:0;margin:0 !important;border-left:none;border-right:none;border-top:none;border-bottom:1px solid #acacac;}
.region-table .region-table-body .panel-group .panel:last-child{border:none}
.region-table .region-table-body .panel .panel-heading{ background-color:#fff;transition:all 0.4s;}
.region-table .region-table-body .panel .panel-heading .region-head{display:flex;align-items:center;justify-content: space-between;min-height:40px;font-family: "SFUIDisplay", sans-serif;font-size:12px;transition: all 0.4s;background-color:#f7b637;color:#404041;}
.region-table .region-table-body .panel .panel-heading .region-head.collapsed{background-color:#fbd64a;}
.region-table .region-table-body .panel .panel-heading .region-head:hover{cursor:pointer;background:#f7b637;}
.region-table .region-table-body .panel .panel-heading .region-head div:first-child{padding-left:15px;padding-right:15px;}
.region-table .region-table-body .panel .panel-heading .region-head div:last-child{margin-right:10px}
.region-table .region-table-body .panel .panel-heading .region-head .align-ie{display:table-row;width:0;max-width: 0px;height:40px;vertical-align:middle;margin:0;padding:0;}
.region-table .region-table-body .panel .panel-body{border:none !important;background-color:#ffc451;transition:all 0.4s;}
.region-table .region-table-body .panel .panel-body .city-list{padding:5px;}
.region-table .region-table-body .panel .panel-body .city-list .city-item{border-bottom:1px solid #ffd783;padding: 5px 10px;color:#404041; display:block}
.region-table .region-table-body .panel .panel-body .city-list .city-item:last-child{border:none;}
.region-table .region-table-body .panel .panel-body .city-list .city-item:hover{cursor:pointer;background-color:#fbd64a; color:#58595b}
.region-table .region-table-body .panel .panel-body .city-list .city-item.active{background-color:#fbd64a;color:#58595b;cursor: default;}

@media (min-width: 1341px) {
.departments-list-page{padding-top:140px !important;}
.department-map-wrapper .department-panel-wrap{top:170px !important;}
.search-input label{top:27px;}
.departments-table .departments-table-header, .region-table .region-table-header{min-height:70px;}
.departments-table .departments-table-header,.region-table .region-table-header{font-size:18px;}
.departments-table .item-head, .departments-table .item-body{font-size:14px;}
.departments-table .item-head .department {font-size: 16px;}
.departments-table .item-head, .departments-table .item-body{min-height:54px}
.departments-table .item-head .align-ie{height:54px}
.departments-table .item-head div, .departments-table .item-head p{line-height:20px;}
.departments-table .item-body div, .departments-table .item-body p{line-height:20px;}
.region-table .region-table-body .panel .panel-heading .region-head{min-height:46px;font-size:14px;line-height:18px;}
.region-table .region-table-body .panel .panel-heading .region-head .align-ie{height:46px;}
.region-table .region-table-body .panel .panel-body .city-list{font-size:14px;}
.region-table .region-table-body .panel .panel-body .city-list .city-item{padding: 7px 12px;}
}
@media (min-width: 1600px) {
.departments-list-page{padding-top:150px !important;}
.department-map-wrapper .department-panel-wrap{top:180px !important;}
.search-input label{top:29px;}
.departments-table .departments-table-header, .region-table .region-table-header{min-height:70px;}
.departments-table .departments-table-header,.region-table .region-table-header{font-size:20px;}
.departments-table .item-head, .departments-table .item-body{font-size:16px}
.departments-table .item-head .department {font-size: 18px;}
.departments-table .item-head, .departments-table .item-body{min-height:60px}
.departments-table .item-head .align-ie{height:60px}
.departments-table .item-head div, .departments-table .item-head p{line-height:24px;}
.departments-table .item-body div, .departments-table .item-body p{line-height:24px;}
.region-table .region-table-body .panel .panel-heading .region-head{min-height:50px;font-size:16px;}
.region-table .region-table-body .panel .panel-heading .region-head .align-ie{height:50px;}
.region-table .region-table-body .panel .panel-body .city-list{font-size:16px;padding:10px;}
.region-table .region-table-body .panel .panel-body .city-list .city-item{padding:10px 15px;}
}
@media (max-width: 1024px) {
.departments-list-page{padding-top:90px !important;}
.department-panel .title-panel span{max-width: 330px;}
.department-map-wrapper .department-panel-wrap{top:115px !important;}
}
@media (max-width: 767px) {
.departments-region-wrap{position:relative}
.departments-list-page{padding-top:15px !important;}
.departments-table{margin-right:0px;}
.region-table{margin-left:0px;}
.department-panel .department-nav a{margin-left: 0 !important;padding:0 7px !important;}
.departments-table .departments-table-header{border-right: 1px solid #acacac;}
.region-table .region-table-header{border-left: 1px solid #acacac;}
.region-table .region-table-body .panel-group{border-left: 1px solid #acacac;border-right: 1px solid #acacac;}
.region-table .region-table-body .panel-group .panel:last-child{border-bottom: 1px solid #acacac;}
.department-panel .title-panel span{max-width: 315px;}
.department-panel, .departments-table, .region-table{margin-left:-15px;margin-right:-15px;}
.departments-table .departments-table-body .panel-group,.region-table .region-table-body .panel-group{margin-bottom: 0px;}
.departments-list-page .region-mobile-nav .badge{display:none;}
.departments-list-page .region-mobile-nav{width:33%;position:absolute;top:0; right:-33%; transition: 0.4s all}
.departments-list-page .region-mobile-nav.active{right:0;}
.departments-table .departments-table-header,.region-table .region-table-header{position:relative}
.region-table .region-show-btn{display:block;position: absolute;top:17px;left:-40px;cursor:pointer;transition:.4s all;}
.region-table .region-show-btn.active{transform: rotateY(180deg);left:-17px;}
.region-table .region-show-btn i{transition:.4s all;padding:0 2.29px;border-radius:50%;background: #d0d2d3;}
.region-table.box-hide::before{content:"";position:absolute;z-index:1;left:0;right:0;bottom:0;height:10px;background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(50%,#fff));background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);background:-o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);background:-ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);background:linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);}
}
@media screen and (max-width: 600px) {
.department-panel{padding:0 5px !important}
.departments-table .departments-table-header .address{display:none;}
.departments-table .item-head .address{display:none}
.departments-table .item-body .department{display:none;}
.departments-table .item-body .mobile-address{display:block;margin-bottom:.5em}
.department-panel .title-panel span{max-width: 300px;}
.departments-list-page .region-mobile-nav{width:50%; right:-50%;}
.departments-list-page .region-mobile-nav.active{right:0;}
}
@media screen and (max-width: 567px) {
.departments-list-page{padding-top:0px !important;}
.department-panel, .departments-table, .region-table{margin-left:-15px;margin-right:-15px;}
.department-panel .title-panel span{max-width: 210px;}
.breadcrumbs-wrap {display:none;}
}
@media screen and (max-width: 425px) {
.department-panel .title-panel span {max-width: 155px;}
}
@media screen and (max-width: 360px) {
.department-panel .title-panel span{max-width: 125px;}
}
@media screen and (max-width: 320px) {
.department-panel .title-panel span {max-width: 125px;}
}