.table__container.table__container--department
	table.table.table-hover.table--department.table--accent
		thead
			tr
				th.p-a-0(colspan="4")
					.table__col-1
						| <i class="icon table__icon table__icon--map"></i> Наші видділення
					.table__col-2
						| <a href="" class="btn table__btn">Списком</a>
					.table__col-3
						<span class="btn table__btn active">На карті</span>
