typo-display-4()
	font-family $base-font-family-medium
	font-size 46px
	font-weight normal
	line-height 1.18
	color #404041

typo-display-3()
	font-family $base-font-family-medium
	font-size 37px
	font-weight normal
	line-height 1.222
	color #404041

typo-display-2()
	font-family $base-font-family-medium
	font-size 24px
	font-weight normal
	line-height 1.222
	color #404041

typo-display-1()
	font-family $base-font-family-medium
	font-size 18px
	font-weight normal
	line-height 1.222
	color #404041

typo-headline()
	font-family $base-font-family-medium
	font-size 14px
	font-weight normal
	line-height 1.4285
	text-transform uppercase
	letter-spacing .1ex
	color #404041

typo-title()
	font-family $base-font-family-medium
	font-weight normal
	font-size 12px
	line-height 1.5
	text-transform uppercase
	letter-spacing .1ex
	color #404041

typo-caption()
	font-family $base-font-family-light
	font-weight normal
	font-size 12px
	line-height 1.2
	color #828282

typo-body()
	font-family $base-font-family-light
	font-weight normal
	font-size 14px
	line-height 1.5714
	color inherit

typo-hint()
	font-family $base-font-family
	font-weight normal
	font-size 10px
	line-height 1.5
	text-transform uppercase
	letter-spacing .1ex
	color #999
