.comment-container.active
	.comment-container-button-top.text-xs-center
		span.btn.btn--more.btn--more--alt
			<span class="btn__text">Розгорнути коментарі</span>
			<span class="btn__text">Згорнути коментарі</span>
			<i class="icon icon--arrow-down-grey"></i>

	.comment-container-item.collapse.in
		.comment-item
			img.comment-item__ava(src="http://placehold.it/65x65", alt="", width="65", height="65")
			.comment-item__header
				.comment-item__header-title Сергій Іванович Семеренко
				.comment-item__header-date 28.09.2016
			.comment-item__body
				| Наша сила в единстве! Мы обязаны выполнять свой долг, который заключается в оказании всевозможной поддержки, как материальной, так и моральной. Мы всегда должны помнить, что находясь там, на востоке, бойцы защищают в первую очередь нас с вами, отстаивая интересы Украины и борясь за независимость.
		.comment-item
			img.comment-item__ava(src="http://placehold.it/65x65", alt="", width="65", height="65")
			.comment-item__header
				.comment-item__header-title Сергій Іванович Семеренко
				.comment-item__header-date 28.09.2016
			.comment-item__body
				| Наша сила в единстве! Мы обязаны выполнять свой долг, который заключается в оказании всевозможной поддержки, как материальной, так и моральной. Мы всегда должны помнить, что находясь там, на востоке, бойцы защищают в первую очередь нас с вами, отстаивая интересы Украины и борясь за независимость.
		.comment-item
			img.comment-item__ava(src="http://placehold.it/65x65", alt="", width="65", height="65")
			.comment-item__header
				.comment-item__header-title Сергій Іванович Семеренко
				.comment-item__header-date 28.09.2016
			.comment-item__body
				| Наша сила в единстве! Мы обязаны выполнять свой долг, который заключается в оказании всевозможной поддержки, как материальной, так и моральной. Мы всегда должны помнить, что находясь там, на востоке, бойцы защищают в первую очередь нас с вами, отстаивая интересы Украины и борясь за независимость.				
		.comment-item
			img.comment-item__ava(src="http://placehold.it/65x65", alt="", width="65", height="65")
			.comment-item__header
				.comment-item__header-title Сергій Іванович Семеренко
				.comment-item__header-date 28.09.2016
			.comment-item__body
				| Наша сила в единстве! Мы обязаны выполнять свой долг, который заключается в оказании всевозможной поддержки, как материальной, так и моральной. Мы всегда должны помнить, что находясь там, на востоке, бойцы защищают в первую очередь нас с вами, отстаивая интересы Украины и борясь за независимость.				
		.comment-item
			img.comment-item__ava(src="http://placehold.it/65x65", alt="", width="65", height="65")
			.comment-item__header
				.comment-item__header-title Сергій Іванович Семеренко
				.comment-item__header-date 28.09.2016
			.comment-item__body
				| Наша сила в единстве! Мы обязаны выполнять свой долг, который заключается в оказании всевозможной поддержки, как материальной, так и моральной. Мы всегда должны помнить, что находясь там, на востоке, бойцы защищают в первую очередь нас с вами, отстаивая интересы Украины и борясь за независимость.				

	.comment-container-button-bottom.text-xs-right
		a.btn.btn--outline.btn--accent.btn--alt(href="#collapseComment", data-toggle="collapse")
			| Коментувати
	#collapseComment.collapse
		h3.form__title-2.form__title-alt.m-y-0 Додайте ваш коммент
		.form-group
			textarea.form-control.form-control--alt(name="", cols="30", rows="10")