.declaration__blank
	.declaration__arr-id
	.uk-grid.uk-grid-divider.declaration__grid
		.declaration__section-left.uk-width-small-1-1.uk-width-medium-1-1.uk-width-large-4-10.uk-width-xlarge-4-10
			.declaration__block.declaration__block--from
				.declaration__block-header
					.icon.icon--letter-A
					| Київ
					span.declaration__block-header-pointer Двері
				.declaration__item.address вул. Терещенскивскай, 12Б
				.declaration__item.name Сергей Иванович Семеренко
				.declaration__item.date
					.declaration__item-content.declaration__item-content--left
						i.icon.icon--date-light-grey-sm
						| 03.03.2016
			.declaration__item.number
				span.declaration__number 002 301 207 FZM
			.declaration__block.declaration__block--to
				.declaration__block-header
					.icon.icon--letter-B
					| Одеса
					span.declaration__block-header-pointer Склад
				.declaration__item.name Сергей Иванович Семеренко
				.declaration__item.address вул. Терещенскивскай, 12Б
				.declaration__item.date
					.declaration__item-content.declaration__item-content--left
						i.icon.icon--date-light-grey-sm
						| 03.03.2016
		.declaration__section-right.uk-width-small-1-1.uk-width-medium-1-1.uk-width-large-6-10.uk-width-xlarge-6-10
			.declaration__item
				strong.declaration__item-title.declaration__item-title--width-1 Тип вантажу
				span.declaration__item-content.declaration__item-content--left <span class="text-uppercase">Корреспонденция</span>
			.declaration__item
				strong.declaration__item-title.declaration__item-title--width-1 Пакування
				span.declaration__item-content.declaration__item-content--left <span class="text-uppercase">Деревянный ящик</span>
			.uk-grid.uk-grid-width-small-1-2.uk-grid-width-medium-1-2.uk-grid-width-large-1-2.uk-grid-width-xlarge-1-2
				.col
					.declaration__item
						strong.declaration__item-title.declaration__item-title--width-1 Ширина
						span.declaration__item-content 5 м
					.declaration__item
						strong.declaration__item-title.declaration__item-title--width-1 Висота
						span.declaration__item-content 7 м
				.col
					.declaration__item
						strong.declaration__item-title.declaration__item-title--width-1 Глибина
						span.declaration__item-content 2 м
					.declaration__item
						strong.declaration__item-title.declaration__item-title--width-1 Вага
						span.declaration__item-content 300 кг
			.declaration__hr
			.declaration__item
				strong.declaration__item-title Вартість за габарити
				span.declaration__item-content
					| <span class="pull-right">1 200 грн</span>
			.declaration__hr
			strong.declaration__item-title Додаткові послуги
			table.declaration__table
				tr
					td.td-icon
						i.fa.fa-check
					td.td-title Пакування <span class="text-muted">/ ящик</span>
					td.td-price 200 грн
				tr
					td.td-icon
						i.fa.fa-check
					td.td-title Підйом на поверх <span class="text-muted">/ ліфт</span>
					td.td-price 20 грн
				tr
					td.td-icon
						i.fa.fa-check
					td.td-title Зберігання на складі <span class="text-muted">/ 24 дні</span>
					td.td-price 760 грн
			.declaration__hr
			.declaration__item
				strong.declaration__item-title Декларована вартість
				span.declaration__item-content.price 50 000 грн
			.declaration__item.declaration__item--footer
				strong.declaration__item-title Вартість
				span.declaration__item-content.total-price 47 435 грн
	.declaration__section-footer
		.barcode
		span.phone 0 800 502 25 25
		span.phone-hint Безкоштовна гаряча лінія
