.swiper-container.swiper-container--main.swiper-container--strategy
	.swiper-wrapper
		.swiper-slide.main-slide.main-slide--strategy.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					.main-slide__header
						h2.main-slide__extra-title
							| <span class="uniform-bg-3"><span class="uniform-bg-2"><span class="uniform-bg-1">Стратегія</span></span></span>
						h3.main-slide__title
							| <span class="uniform-bg-3"><span class="uniform-bg-2"><span class="uniform-bg-1">Від адресної доставки до керування замовленнями та надання додатков</span></span></span>
					p.main-slide__descr Отримай надпоштові можливості
	.swiper-button-wrapper
		.container-fluid
			.swiper-button-prev
			.swiper-button-next
