.swiper-container.swiper-container--main
	.swiper-wrapper
		.swiper-slide.main-slide.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					h2.main-slide__title Доставка надважких та складних вантажів
					p.main-slide__descr Отримай надпоштові можливості
					a.btn.btn--more.main-slide__more(href="")
						| Детальніше <i class="icon icon--arrow-right-grey"></i>
		.swiper-slide.main-slide.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					h2.main-slide__title Доставка надважких та складних вантажів
					p.main-slide__descr Отримай надпоштові можливості
					a.btn.btn--more.main-slide__more(href="")
						| Детальніше <i class="icon icon--arrow-right-grey"></i>
		.swiper-slide.main-slide.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					h2.main-slide__title Доставка надважких та складних вантажів
					p.main-slide__descr Отримай надпоштові можливості
					a.btn.btn--more.main-slide__more(href="")
						| Детальніше <i class="icon icon--arrow-right-grey"></i>
		.swiper-slide.main-slide.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					h2.main-slide__title Доставка надважких та складних вантажів
					p.main-slide__descr Отримай надпоштові можливості
					a.btn.btn--more.main-slide__more(href="")
						| Детальніше <i class="icon icon--arrow-right-grey"></i>
		.swiper-slide.main-slide.main-slide--hoverable(style='background-image: url(http://placehold.it/1600x900);')
			img.main-slide__img.hidden(src='http://placehold.it/1600x900', alt='', width='1600', height='900')
			.main-slide__overlay-panel
				.container-fluid
					h2.main-slide__title Доставка надважких та складних вантажів
					p.main-slide__descr Отримай надпоштові можливості
					a.btn.btn--more.main-slide__more(href="")
						| Детальніше <i class="icon icon--arrow-right-grey"></i>
	.swiper-button-wrapper
		.container-fluid
			.swiper-button-prev
			.swiper-button-next
