	.item-content{
		display:none;
		background: #ffd64a;
		position: absolute;
		right: 0;
		left: 0;
		bottom:0;
		overflow: hidden;
		font-family: "SFUIDisplayMedium",sans-serif !important;
		color:#404041;
		margin: 15px 10px;
		transition: all .3s;
		pointer-events: none;
	}
	.item-content.active{
		display: block;
    	padding: 10px 15px;
    	height: auto;
		border: 1px solid #ababab;
		border-radius: 2px;
		box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 5px 1px;
	}
	.item-content.active::before{
		content: "\f00d";
		font: normal normal normal 14px/1 FontAwesome;
		position: absolute;
		top: 0;
		right: 0;
		margin: 5px;
		padding:5px;
		cursor: pointer;
		pointer-events: all;
	}

	.item-content.active .number {
		font-family: "SFUIDisplay",sans-serif !important;
		background-color: #1f3d6c;
		color: #fff;
		padding: 3px 5px;
		margin-right: 5px;
		border-radius: 5px;
	}
	.item-content.active .name{
		font-size: 1.125em;
	}

	.item-content.active .table {
		display:table;
		margin-top: .75em;
		margin-bottom: .75em;
	}
	.item-content.active .table ul{
		display:block;
		vertical-align: middle;
	}

	.item-content.active .table ul:nth-child(even){
		border-top:1px solid  #404041;
		border-left: none;
		padding-top:.5em;
	}
	.item-content.active .table ul:nth-child(odd){
		padding-bottom:.5em;
	}

@media (min-width: 768px) {
	.item-content.active .table ul{
		display:table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.item-content.active .table ul:nth-child(even){
		border-top:none;
		border-left:1px solid  #404041;
		padding-left:.5em;
	}
	.item-content.active .table ul:nth-child(odd){
		padding-right:.5em;
	}
}


@media (min-width: 992px) {
	.item-content{
		margin:5px 10px;
	}
	.item-content.active .table ul{
		display:block;
		width: 100%;
		vertical-align: middle;
	}

	.item-content.active .table ul:nth-child(even){
		border-top:1px solid  #404041;
		border-left: none;
		padding-top:.5em;
		padding-left:0;
	}
	.item-content.active .table ul:nth-child(odd){
		padding-bottom:.5em;
	}
}

@media (min-width: 1600px) {

	.item-content.active .table ul{
		display:table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.item-content.active .table ul:nth-child(even){
		border-top:none;
		border-left:1px solid  #404041;
		padding-left:.5em;
	}
	.item-content.active .table ul:nth-child(odd){
		padding-right:.5em;
	}
}