.panel__container.panel__container--main.panel__container--main--misc
	.row.panel__container-row
		.col-xs-12.col-lg-3
			section.panel.panel--map.hidden-md-down
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Відділення
				.panel__map
					img(src='http://placehold.it/340x525', alt='', width='340', height='525')
				footer.panel__footer
					.panel__footer-primary-content
						| Ваше відділення&nbsp;<span class="num">№ 121</span>
					.panel__footer-secondary-content
						a.btn.btn--accent.btn--outline.btn--icon(href='')
							i.icon.icon--arrow-right-light-grey
		.col-xs-12.col-lg-3
			section.panel.panel--news
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Новини
				ul.panel__item-list
					li.panel__item.panel__item--hoverable
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
					li.panel__item.panel__item--hoverable
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
					li.panel__item.panel__item--hoverable
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
		.col-xs-12.col-lg-6
			section.panel.panel--partner
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Партнерам
					.panel__heading-secondary-content
						.btn.btn--accent.btn--raised.btn--icon.panel__prev
							i.icon.icon--chevron-left
						.btn.btn--accent.btn--raised.btn--icon.panel__next
							i.icon.icon--chevron-right
				.swiper-container.panel__swiper-container
					.swiper-wrapper
						.swiper-slide
							.panel__image(style='background-image: url(http://placehold.it/695x400);')
								a(href="")
									img.invisible(src='http://placehold.it/695x400', alt='', width='695', height='400')

							.panel__item.panel__item--hoverable
								small.panel__item-sup-title 17 лютого 2016
								strong.panel__item-title Отримайте необхідну інформацію для партнерів компанії
								.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередити, що читабельний зміст буде заважати зосередити
								.panel__item-footer
									span.btn.btn--more.btn--muted
										| Партнерам <i class="icon icon--arrow-right-light-grey btn__icon--outline"></i>
								a.panel__item-cover-link(href="")
