.panel__container.panel__container--main.panel__container--main--banner.m-b-0
	.container-fluid
		.row.panel__container-row
			.col-xs-12.col-lg-6
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Найкраща пропозиція
					.banner.banner--h--465(style='background-image: url(http://placehold.it/695x465);')
						a(href="")
							img.invisible(src='http://placehold.it/695x465', alt='', width='695', height='465')
							.banner__overlay-panel
								| <h3 class="banner__title banner__title--size-1">Акція</h3>
			.col-xs-12.col-lg-6
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Акції для вас
						.panel__heading-secondary-content
							.btn.btn--accent.btn--outline.btn--icon
								i.icon.icon--arrow-right-light-grey
					.banner.banner--h--245(style='background-image: url(http://placehold.it/695x245);')
						a(href="")
							img.invisible(src='http://placehold.it/695x245', alt='', width='695', height='245')
							.banner__overlay-panel.banner__overlay-panel--right.banner__overlay-panel--background
								| <h3 class="banner__title banner__title--size-2 banner__title--alt"><span class="small">Кожному&nbsp;клієнту</span> подарунок</h3>
					.row.panel__container-row
						.col-xs-6
							.banner.banner--h--210(style='background-image: url(http://placehold.it/340x210);')
								a(href="")
									img.invisible(src='http://placehold.it/340x210', alt='', width='340', height='210')
									.banner__overlay-panel.banner__overlay-panel--top.banner__overlay-panel--inverse
										| <h3 class="banner__title banner__title--size-3 banner__title--alt"><span class="small">Безкоштовне завантаження</span> у&nbsp;подарунок</h3>

						.col-xs-6
							.banner.banner--h--210(style='background-image: url(http://placehold.it/340x210);')
								a(href="")
									img.invisible(src='http://placehold.it/340x210', alt='', width='340', height='210')
									.banner__overlay-panel.banner__overlay-panel--right.banner__overlay-panel--inverse
										| <h3 class="banner__title banner__title--size-4 banner__title--alt">Знижка 10% <span class="small">на перевезення<br>меблів у березні</span></h3>


	.panel__container-footer
		.container-fluid
			button.btn.btn--more(type="button")
				| Більше акцій<i class="icon icon--arrow-down-grey"></i>
