.panel__container.panel__container--main.panel__container--main--strategy
	.row.panel__container-row
		.col-xs-12
			section.panel.panel--p-alt
				.panel__body
					h3.panel__body-title.panel__body-title--alt Легенда компанії SAT — транспортні послуги по Україні
					p.panel__body-text.panel__column-2 Показатель достижений вашей жизни в великобритании. Ведь если вы изменить жизнь. Благородно вести себя по отношению к слову. К мудрости людей, сделавших много добра на банковском. Наверное, вы должны наладить связи с миллиардами долларов на банковском счету. Хорошо и труд своих сотрудников, и захватывающей дух, попробуйте стать бизнесменом. Нашей открытости средствам массовой информации, плохие новости. Ошибки в вашу сторону всё равно что наша компания знает, как. Никто не научила.в бизнесе, потому что наша компания знает, как хорошие. Вас запомнят не научитесь или ошибку изворотливости, которые подмочат. Благородными побуждениями благородными побуждениями положением дел ваша. Ни одной стороны, это укрепляет наш позитивный образ, с миллиардами.
			section.panel.panel--news
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Новини
				.panel__item-list.panel__item-list--col-2
					.panel__item.panel__item--hoverable
						img.panel__item-image(src="http://placehold.it/695x400", alt="", width="300", height="170")
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
					.panel__item.panel__item--hoverable
						img.panel__item-image(src="http://placehold.it/695x400", alt="", width="300", height="170")
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
					.panel__item.panel__item--hoverable
						img.panel__item-image(src="http://placehold.it/695x400", alt="", width="300", height="170")
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")
					.panel__item.panel__item--hoverable
						img.panel__item-image(src="http://placehold.it/695x400", alt="", width="300", height="170")
						small.panel__item-sup-title 17 лютого 2016
						strong.panel__item-title Кращий перевізник 2015
						.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
						.panel__item-footer
							span.btn.btn--icon
								i.icon.panel__item-more-icon
						a.panel__item-cover-link(href="")

	.row.panel__container-row
		.col-xs-12.col-lg-6
			section.panel.panel--case
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Кейси
				.panel__image.uk-position-relative(style='background-image: url(http://placehold.it/695x400);')
					img.invisible(src='http://placehold.it/695x400', alt='', width='695', height='400')
					a.uk-position-cover.uk-flex.uk-flex-center.uk-flex-middle(href="")
						| <i class="icon icon--play-white"></i>

				.panel__item.panel__item--hoverable
					small.panel__item-sup-title 17 лютого 2016
					strong.panel__item-title Отримайте необхідну інформацію для партнерів компанії
					.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередити, що читабельний зміст буде заважати зосередити
					.panel__item-footer
						span.btn.btn--more.btn--muted
							| Кейси SAT <i class="icon icon--arrow-right-light-grey btn__icon--outline"></i>
					a.panel__item-cover-link(href="")

		.col-xs-12.col-lg-6
			section.panel.panel--partner
				header.panel__heading
					.panel__heading-primary-content
						| <i class="icon panel__icon"></i>
						h3.panel__title
							| Партнерам
				.panel__image(style='background-image: url(http://placehold.it/695x400);')
					a(href="")
						img.invisible(src='http://placehold.it/695x400', alt='', width='695', height='400')

				.panel__item.panel__item--hoverable
					small.panel__item-sup-title 17 лютого 2016
					strong.panel__item-title Отримайте необхідну інформацію для партнерів компанії
					.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередити, що читабельний зміст буде заважати зосередити
					.panel__item-footer
						span.btn.btn--more.btn--muted
							| Партнерам <i class="icon icon--arrow-right-light-grey btn__icon--outline"></i>
					a.panel__item-cover-link(href="")
