.panel__container.panel__container--main.panel__container--main--promo
	.panel.panel--promo
		.panel__block-list.js-swiper-main-navigation
			a.panel__block.panel__block--hoverable.panel__block--calc.uk-overlay-hover(href="", data-slide="0")
				h3.panel__block-title.panel__block-title--alt Розрахувати<br>послугу
				i.icon.panel__block-icon.uk-overlay-scale
				p.panel__block-descr Легкий та зручний розрахунок вартості доставки вантажу
				//- .panel__block-overlay-panel
				//- 	h3.panel__block-title.panel__block-title--alt 8&nbsp;березня <span class="num">-20%</span> дівчатам
				//- 	p.panel__block-descr Натисніть<br>для інформації

			a.panel__block.panel__block--hoverable.panel__block--order.uk-overlay-hover(href="", data-slide="1")
				h3.panel__block-title.panel__block-title--alt Керування<br>замовленнями
				i.icon.panel__block-icon.uk-overlay-scale
				p.panel__block-descr Оберіть потрібну вам послугу і ми виконаємо її для вас

			a.panel__block.panel__block--hoverable.panel__block--offer.uk-overlay-hover(href="", data-slide="2")
				h3.panel__block-title.panel__block-title--alt Гаряча<br>пропозиція
				i.icon.panel__block-icon.uk-overlay-scale
				p.panel__block-descr Найкращі пропозиції для всіх постійних клієнтів

			a.panel__block.panel__block--hoverable.panel__block--map.uk-overlay-hover(href="", data-slide="3")
				h3.panel__block-title.panel__block-title--alt Карта<br>відділень
				i.icon.panel__block-icon.uk-overlay-scale
				p.panel__block-descr Оберіть зручне для вас відділення із нашой великої мережі

			a.panel__block.panel__block--hoverable.panel__block--academy.uk-overlay-hover(href="", data-slide="4")
				h3.panel__block-title.panel__block-title--alt Академія<br>SAT
				i.icon.panel__block-icon.uk-overlay-scale
				p.panel__block-descr З нами ви легко розберетесь у всіх процесах
