nav.panel.panel--news.panel--space
	ul.panel__item-list.panel__item-list--less-air
		li.panel__item
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title
				a(href="") Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині буде заважати зосередитись людині
		li.panel__item
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title
				a(href="") Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
		li.panel__item
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title
				a(href="") Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині буде заважати зосередитись людині
		li.panel__item
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title
				a(href="") Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині