.panel__container.panel__container--main.panel__container--main--banner.m-b-0
	.container-fluid
		.row.panel__container-row
			.col-xs-12.col-lg-3
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Найкраща пропозиція
					.banner.banner--h--465(style='background-image: url(http://placehold.it/695x465);')
						a(href="")
							img.invisible(src='http://placehold.it/695x465', alt='', width='695', height='465')
							.banner__overlay-panel
								| <h3 class="banner__title banner__title--size-1">Акція</h3>
			.col-xs-12.col-lg-3
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Найкраща пропозиція
					.banner.banner--h--465(style='background-image: url(http://placehold.it/695x465);')
						a(href="")
							img.invisible(src='http://placehold.it/695x465', alt='', width='695', height='465')
							.banner__overlay-panel
								| <h3 class="banner__title banner__title--size-1">Акція</h3>
			.col-xs-12.col-lg-3
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Найкраща пропозиція
					.banner.banner--h--465(style='background-image: url(http://placehold.it/695x465);')
						a(href="")
							img.invisible(src='http://placehold.it/695x465', alt='', width='695', height='465')
							.banner__overlay-panel
								| <h3 class="banner__title banner__title--size-1">Акція</h3>
			.col-xs-12.col-lg-3
				section.panel.panel--action
					header.panel__heading
						.panel__heading-primary-content
							| <i class="icon panel__icon"></i>
							h3.panel__title
								| Найкраща пропозиція
					.banner.banner--h--465(style='background-image: url(http://placehold.it/695x465);')
						a(href="")
							img.invisible(src='http://placehold.it/695x465', alt='', width='695', height='465')
							.banner__overlay-panel
								| <h3 class="banner__title banner__title--size-1">Акція</h3>

	.panel__container-footer
		.container-fluid
			button.btn.btn--more(type="button")
				| Більше акцій<i class="icon icon--arrow-down-grey"></i>
