.panel__container.panel__container--main.panel__container--main--subscribe
	.container-fluid
		form.panel.panel--subscribe.form
			.row
				.col-xs-12.col-lg-8
					h2.form__title-4 Дізнавайтесь про<br>кращі пропозиції для Вас!
					.input-group-row
						input.form-control.form-control--alt.input-lg(type="text", value="", placeholder='Введіть Ваш e-mail...')
						button.btn.btn--accent.btn--raised.btn--alt.btn-lg(type="submit") Підписатись
					.form-hint Отримайте змогу завчасно дізнаватись про найкращі пропозиції від нашої компанії. Здобудьте перевагу та використовуйте надпоштові можливості SAT на повну силу ми не надсилаемо спам, або сторонні рекламні повідомлення, а лише корисні та актуальні пропозиції

				.col-xs-12.col-lg-4.panel__col-image.hidden-md-down
					img(src="assets/images/subscribe-img.png", alt="", width="298", height="319")
