nav.panel.panel--news.panel--space
	header.panel__heading
		.panel__heading-primary-content
			| <i class="icon panel__icon"></i>
			h3.panel__title
				| Новини
	ul.panel__item-list
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")
		li.panel__item.panel__item--hoverable
			small.panel__item-sup-title 17 лютого 2016
			strong.panel__item-title Кращий перевізник 2015
			.panel__item-text.panel__item-text--line-2 Вже давно відомо, що читабельний зміст буде заважати зосередитись людині
			.panel__item-footer
				.link
					span.num 32
					span.text коментарі
				span.btn.btn--icon
					i.icon.panel__item-more-icon
			a.panel__item-cover-link(href="")