.mega-footer
	.container-fluid.mega-footer__container
		.mega-footer__logo
		h3.mega-footer__extra-heading.hidden-md-down Мапа сайту
		nav.mega-footer__middle-section.hidden-md-down
			.mega-footer__section
				h5.mega-footer__heading Замовити
				ul.mega-footer__link-list
					li
						a(href='') Калькулятор
			.mega-footer__section
				h5.mega-footer__heading ТРЕКІНГ
				ul.mega-footer__link-list
					li
						a(href='') Відстежити вантаж
					li
						a(href='') Замовлення
			.mega-footer__section
				h5.mega-footer__heading Надпоштові можливості
				ul.mega-footer__link-list
					li
						a(href='') Послуги
					li
						a(href='') Академія
						ul
							li
								a(href='') Кейси
			.mega-footer__section
				h5.mega-footer__heading Акції
				ul.mega-footer__link-list
					li
						a(href='') Найкращі пропозиції
					li
						a(href='') Акції для вас
					li
						a(href='') Ваші бонуси
			.mega-footer__section
				h5.mega-footer__heading Компанія SAT
				ul.mega-footer__link-list
					li
						a(href='') Легенда
					li
						a(href='') Новини
			.mega-footer__section
				h5.mega-footer__heading Контакти
				ul.mega-footer__link-list
					li
						a(href='') Бізнес
					li
						a(href='') Клієнти
					li
						a(href='') Відділення
						ul
							li
								a(href='') Списком
							li
								a(href='') На карті
		.mega-footer__spacer.hidden-md-down
		.mega-footer__bottom-section
			.mega-footer__section
				p.mega-footer__copyright
					| ©  2016 транспортна компанія «САТ»
					br
					| <span>вул. Гродненська, 32, м. Київ, Україна</span>
			.mega-footer__section.mega-footer__section--phone
				strong.mega-footer__phone 0 800 502 25 25
				span.mega-footer__phone-hint Безкоштовна гаряча лінія
			.mega-footer__section.mega-footer__section--social
				a.mega-footer__social-btn.mega-footer__social-btn--facebook(href='')
					i.icon
				a.mega-footer__social-btn.mega-footer__social-btn--vkontakte(href='')
					i.icon
				a.mega-footer__social-btn.mega-footer__social-btn--twitter(href='')
					i.icon
				a.mega-footer__social-btn.mega-footer__social-btn--youtube(href='')
					i.icon
