.icon
	display inline-block
	text-align center
	vertical-align middle

	&:before
		content ''
		display inline-block
		vertical-align top
		background-position 50% 50%
		background-repeat no-repeat

	&--email-light-grey:before
		sprite($icon_email_light_grey)

	&--phone-light-grey:before
		sprite($icon_phone_light_grey)

	&--plus-accent:before
		sprite($icon_plus_accent)

	&--download-blue:before
		sprite($icon_download_blue)

	&--email-blue:before
		sprite($icon_email_blue)

	&--print-blue:before
		sprite($icon_print_blue)

	&--chevron-left:before
		sprite($icon_chevron_left_accent)

		.btn--colored.btn--raised:hover &
			sprite($icon_chevron_left_grey)

		.btn--accent.btn--raised &
		.btn--accent.btn--raised:hover &
			sprite($icon_chevron_left_grey)

	&--chevron-right:before
		sprite($icon_chevron_right_accent)

		.btn--colored.btn--raised:hover &
			sprite($icon_chevron_right_grey)

		.btn--accent.btn--raised &
		.btn--accent.btn--raised:hover &
			sprite($icon_chevron_right_grey)

	&--chevron-down-grey:before
		sprite($icon_chevron_down_grey)

	&--chevron-up-grey:before
		sprite($icon_chevron_up_grey)

	&--arrow-right-grey:before
		sprite($icon_arrow_right_grey)

	&--arrow-left-grey:before
		sprite($icon_arrow_left_grey)

	&--arrow-down-grey:before
		sprite($icon_arrow_down_grey)

	&--arrow-right-light-grey:before
		sprite($icon_arrow_right_light_grey)

	&--arrow-left-light-grey:before
		sprite($icon_arrow_left_light_grey)

	&--play-white:before
		sprite($icon_play_white)

	&--map-grey:before
		sprite($icon_map_grey)

	&--map-light-grey:before
		sprite($icon_map_light_grey)

	&--phone-grey:before
		sprite($icon_phone_grey)

	&--phone-accent:before
		sprite($icon_phone_accent_25_25)

	&--box-white:before
		sprite($icon_box_white)

	&--mail-grey:before
		sprite($icon_mail_grey)

	&--mail-accent:before
		sprite($icon_mail_accent)

	&--entry-blue-59-52:before
		sprite($icon_entry_blue_59_52)

	&--search-accent:before
		sprite($icon_search_accent)

	a.cabinet-link:hover &--entry-blue-59-52:before
		sprite($icon_entry_blue_59_52)

	&--entry-accent-59-52:before
		sprite($icon_entry_accent_59_52)

	a.cabinet-link:hover &--entry-accent-59-52:before
		sprite($icon_entry_blue_59_52)

	.navbar__button-icon--entry &:before
		sprite($icon_entry_accent)

	.navbar__button-icon--search-submit &:before
		sprite($icon_search_accent)

	.navbar__button-icon--search &:before
		sprite($icon_search_accent)

		.navbar--footer &
			sprite($icon_search_light_blue)

	.navbar__button-icon--close &:before
		sprite($icon_close_light_blue)

	.navbar__button-icon--close:hover &:before
		sprite($icon_close_accent)

	.navbar__button-icon--menu &:before
		sprite($icon_burger_blue)

	.panel--news .panel__icon&:before
		sprite($icon_news_light_grey)

	.panel--partner .panel__icon&:before
		sprite($icon_partner_light_grey)

	.panel--case .panel__icon&:before
		sprite($icon_case_light_grey)

	.panel--map .panel__icon&:before
		sprite($icon_map_light_grey)

	.panel--action .panel__icon&:before
		sprite($icon_action_light_grey)

	.panel--recommend .panel__icon&:before
		sprite($icon_recommend_light_grey)

	.panel--recommend .panel__block--doc .panel__block-icon&:before
		sprite($icon_doc_light_grey)

	.panel--recommend .panel__block--pack .panel__block-icon&:before
		sprite($icon_pack_light_grey)

	.panel--recommend .panel__block--storage .panel__block-icon&:before
		sprite($icon_storage_light_grey)

	.panel--recommend .panel__block--trans .panel__block-icon&:before
		sprite($icon_trans_light_grey)


	.panel--promo .panel__block--calc .panel__block-icon&:before
		sprite($icon_calc_blue)

	.panel--promo .panel__block--order .panel__block-icon&:before
		sprite($icon_order_blue)

	.panel--promo .panel__block--offer .panel__block-icon&:before
		sprite($icon_offer_blue)

	.panel--promo .panel__block--action .panel__block-icon&:before
		sprite($icon_action_blue)

	.panel--promo .panel__block--map .panel__block-icon&:before
		sprite($icon_map_blue)

	.panel--promo .panel__block--academy .panel__block-icon&:before
		sprite($icon_academy_blue)


	.mega-footer__social-btn--facebook &:before
		sprite($icon_social_facebook)

	.mega-footer__social-btn--vkontakte &:before
		sprite($icon_social_vkontakte)

	.mega-footer__social-btn--twitter &:before
		sprite($icon_social_twitter)

	.mega-footer__social-btn--youtube &:before
		sprite($icon_social_youtube)


	.table--department .table__icon--map&:before
		sprite($icon_map2_grey)


.icon--door-grey:before
	sprite($icon_door_grey)

.icon--stock-grey:before
	sprite($icon_stock_grey)

.icon--date-light-grey:before
	sprite($icon_date_light_grey)

.icon--date-light-grey-sm:before
	sprite($icon_date_light_grey_sm)

.icon--letter-A
.icon--letter-B
	width 60px
	height 60px
	text-align center
	background-color #f7b637
	color #1e3e6c
	border 5px solid #1e3e6c
	border-radius 100px
	font-family $base-font-family-bold
	font-size 32px
	font-wegiht normal
	line-height 50px

.icon--letter-A
	&:before
		content 'A'

.icon--letter-B
	&:before
		content 'Б'

.icon__item
	position relative
	min-height 22px
	padding-left 36px

	.icon
		position absolute
		left 0
		top 0
		width 26px
		height 22px
		text-align center
		line-height 22px

.icon--ava
	width 50px
	height 50px
	border-radius 100px
	background-size cover
	background-color #000
